.Clock-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  
  background-color: #282c34;
}

.Clock{
  font-size: 4rem;
  color: #61dafb;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  padding: 20px 40px;
  border: 2px solid #61dafb;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

